/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.bigClock {
    background: #000000;
    border-radius: 3%;
}
.bigClock div {
    font-size: 60px;
    background: rgba(14, 7, 26, 0.756);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Oculta las flechas */
    appearance: none;
    margin: 0; /* Elimina el espacio reservado para las flechas */
}
